<div>
<label>Minimum</label> 
<form ACTION="/random/results">
  <input type= "text"name= "users_min_number">
</div>

<div>
<label>Maximum</label> 
<form ACTION="/random/results">
  <input type= "text"name= "users_max_number">
</div>

  <button>Pick random number</button>

</form>
