<%= params %>

<ol>
  <dt>
  Minimum
  </dt>

  <dd>
    <%= @min_num %>
  </dd>

  <dt>
  Maximum
  </dt>

  <dd>
    <%= @max_num %>
  </dd>

<dt>
  Random number
</dt>
<dd>
  <%= @the_result %>
</dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
